:root {
  --default-font: "Poppins", sans-serif;
  --branding-colour: #233142;
  --secondary-colour: #455d7a;
  --third-colour: #455d7a;
  --fourth-colour: #e3e3e3;
}

/* #f95959 */

* {
  margin: 0;
}

body {
  font-family: var(--default-font);
}

h1, h2, h3 {
  font-weight:600;
}
h2 {
  font-size: 1.8rem;;
  margin-bottom: 1.0rem;
}

figure {
  margin: 0;
  padding: 1rem;
  /* background-color: #455d7a; */
}

figcaption {
  background-color: var(--fourth-colour);
  text-align: center;
}


a {
  color: var(--branding-colour);
  position: relative;
  text-decoration: none;
}

a:hover {
  color: var(--third-colour);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--third-colour);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

input[type="radio"] {
  display: none;
}

.styled-btn {
  display: inline-block;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 0.8rem 1.3rem 0.8rem 1.3rem;
  margin: 0 0.1rem 0.1rem 0;
  border: 0.1rem solid var(--branding-colour);
  border-radius: 0.25rem;
  text-decoration: none;
  background-color: #fff;
  color: var(--secondary-colour);
  transition: all 150ms ease-in-out;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.styled-btn:hover {
  background-color: var(--secondary-colour);
  color: #fff;
}

.nav-links:before {
  content: none;
  display: none;
}