.scroll {
  position: fixed;
  z-index: 2;
  bottom: 30px;
  right: 30px;
  height: 30px;
  width: 180px;
  font-size: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
  background-color: #fff;
}
